SPN-Expiration.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":"5","startTime":"2024-12-10T04:30:00.000Z"},"type":"Recurrence"}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"appId","type":"string","value":"dc768d13-3f78-43f0-9d6f-27d13f5d539b"}]}},"Initialize_variable_1":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"displayName","type":"string","value":"zeta"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"clientSecret","type":"string","value":"xxxx~xxxxxxxx-xxxxx~HFmbKm"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"clientId","type":"string","value":"dc768d13-3f78-43f0-9d6f-27d13f5d539b"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tenantId","type":"string","value":"d870244a-9053-483e-9a46-0597932f0a73\n"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"passwordCredentials","type":"array"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"keyCredentials","type":"array"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"styles","type":"object","value":{"tableStyle":"style=\"border-collapse: collapse;\"","headerStyle":"style=\"font-family: Helvetica; padding: 5px; border: 1px solid black;\"","cellStyle":"style=\"font-family: Calibri; padding: 5px; border: 1px solid black;\"","redStyle":"style=\"background-color:red; font-family: Calibri; padding: 5px; border: 1px solid black;\"","yellowStyle":"style=\"background-color:yellow; font-family: Calibri; padding: 5px; border: 1px solid black;\""}}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"html","type":"string","value":"<table @{variables('styles').tableStyle}><thead><th @{variables('styles').headerStyle}>Application ID</th><th @{variables('styles').headerStyle}>Display Name</th><th @{variables('styles').headerStyle}>Days until Expiration</th><th @{variables('styles').headerStyle}>Type</th><th @{variables('styles').headerStyle}>Expiration Date</th></thead><tbody> \n"}]}},"Initialize_variable_9":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"daysTilExpiration","type":"float","value":30}]}},"HTTP":{"runAfter":{"Initialize_variable_9":["Succeeded"]},"type":"Http","inputs":{"uri":"https://login.microsoftonline.com/@{variables('tenantId')}/oauth2/v2.0/token","method":"POST","headers":{"Content-Type":"application/json","Authorization":"Bearer"},"body":"client_id=@{variables('clientId')}&scope=https://graph.microsoft.com/.default&client_secret=@{variables('clientSecret')}&grant_type=client_credentials"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Initialize_variable_10":{"runAfter":{"HTTP":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextLink","type":"string","value":"https://graph.microsoft.com/v1.0/applications?$select=id,appId,displayName,passwordCredentials,keyCredentials&$top=999"}]}},"Do_until":{"actions":{},"runAfter":{"Initialize_variable_10":["Succeeded"]},"expression":"@empty(variables('NextLink'))","limit":{"count":60,"timeout":"PT1H"},"type":"Until"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-AF4EB4FEA6B54C9EBC1C76A7A02FE9A4"}},"integrationAccount":{"name":"d870244a9053483e9a460597932f0a73-centralindia","id":"subscriptions/5c340b36-e0fa-450e-b6c2-cb7e0327fc56/resourceGroups/d870244a9053483e9a460597932f0a73-ia/providers/Microsoft.Logic/integrationAccounts/d870244a9053483e9a460597932f0a73-centralindia","type":"Microsoft.Logic/integrationAccounts"}}}]}